.find {
  max-width: 1040px;
  margin: auto;
}

.heading {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}

.heading p {
  text-align: center;
}

.heading h2 {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}

.text_bg {
  background-color: #593cfb5e;
  height: 30px;
  max-width: 650px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.text_bg p {
  font-size: 1.4rem;
  margin-top: -0.6rem;
}

.slider {
  padding: 5rem 0;
}

.card {
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
  object-fit: cover;
  background: linear-gradient(45deg, #593cfb, transparent);
}

.card p {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .heading h2 {
    font-size: 3rem;
  }
}
